{% extends "base.html" %}

{% load i18n %}

{% block title %}Logout{%endblock %}

{% block content %}
	<h2>Vraag toegang aan</h2>
    <p>U bent ingelogd met het volgende Pleio account maar heeft nog geen toegang tot dit systeem. Vraag hier toegang aan:</p>
    <form method="POST" action="{% url 'request_access' %}">
        {% csrf_token %}
        <table class="table">
            <tr>
                <td>Naam</td>
                <td>{{profile.name}}</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>{{profile.email}}</td>
            </tr>
        </table>
        <input type="hidden" name="signature" value="{{ signature }}" />
        <button type="submit" class="btn btn-primary">Toegang aanvragen</button>
        <a href="{% url 'logout' %}" class="btn btn-secondary">Uitloggen</a>
    </form>
{% endblock %}