{% extends "base.html" %}

{% block content %}
	<h2>Subsite toevoegen</h2>
	<form action="/subsites/add" method="post" enctype="multipart/form-data" novalidate>
		{% csrf_token %}

		<div class="form-group">
			<label for="id_name">{{form.name.label}}</label>
			{{form.name.errors}}
			{{form.name}}
        </div>
        
		<button class="btn btn-primary" type="submit">Toevoegen</button>
		<a href="/" class="btn btn-secondary" role="button" aria-pressed="true">Terug</a>
    </form>
{% endblock %}