{% extends "base.html" %}
{% load static %}

{% block content %}
	<h2>Accepteer de overeenkomsten voor je deelsite</h2>
	<p>
		Vul het onderstaande formulier in om de overeenkomsten voor je deelsite
		te acceptereren. Staat je deelsite er niet meer tussen? Dan is de overeenkomst
		wellicht al geaccepteerd door iemand anders? Zo niet, voeg dan de deelsite <a href="/subsites/add">hier</a> toe.
	</p>
	<form action="." method="post" class="mt-4 mb-4">
		{% csrf_token %}

		<div class="form-group">
			Naam: {{ user.name }}
		</div>

		<div class="form-group">
            <label for="id_organisation">{{ form.organisation.label }}</label>
			{{ form.organisation }}
			{{ form.organisation.errors }}
		</div>

		<div class="form-group">
			<label for="id_subsite">{{ form.subsite.label }}</label>
			{{ form.subsite }}
			{{ form.subsite.errors }}
		</div>
		<br><br><br>
		<div class="form-group">
		<strong>Verwerkersovereenkomst:</strong>
			<a href="https://support.pleio.nl/cms/view/57979129/contact/57981139" target="_blank">verwerkersovereenkomst</a>
		</div>
		<br>
		<div class="form-group">
            <label for="id_in_name_of_processing_terms">{{ form.in_name_of_processing_terms.label }}</label>
			{{ form.in_name_of_processing_terms }}
			{{ form.in_name_of_processing_terms.errors }}
		</div>

		<div class="form-group form-check">
			{{ form.accepted_processing_terms }}
			<label for="id_accepted_processing_terms">{{ form.accepted_processing_terms.label }}</label>
			{{ form.accepted_processing_terms.errors }}
		</div>

		<br><br><br>
		<div class="form-group">
		<strong>Gebruikersovereenkomst:</strong>
			<a href="https://support.pleio.nl/cms/view/57979129/contact/57981139" target="_blank">gebruikersovereenkomst</a>
		</div>

		<div class="form-group">
            <label for="id_in_name_of_user_terms">{{ form.in_name_of_user_terms.label }}</label>
			{{ form.in_name_of_user_terms }}
			{{ form.in_name_of_user_terms.errors }}
		</div>


		<div class="form-group form-check">
			{{ form.accepted_user_terms }}
			<label class="form-check-label" for="id_accepted_user_terms">{{ form.accepted_user_terms.label }}</label>
			{{ form.accepted_user_terms.errors }}
		</div>
		<br>

		<div class="form-group">
        	<button class="btn btn-primary" type="submit">Opslaan</button>
		</div>

	</form>
	<br><br>
	<h4>Je hebt de volgende overeenkomsten geaccepteerd</h4>

	<div class="table-responsive">
		<table class="table table-hover">
			<tbody>
				{% for agreement in user_signed_agreements %}
					{% for subsite in agreement.subsite.all  %}
						{% if agreement.accepted_processing_terms %}
							<tr>
								<td>{{ subsite.name }}</td>
								<td>versie {{ agreement.version }}</td>
								<td>Verwerkersovereenkomst</td>
								<td>{{ agreement.signed_on }}</td>
							</tr>
						{% endif %}
						{% if agreement.accepted_user_terms %}
							<tr>
								<td>{{ subsite.name }}</td>
								<td>versie {{ agreement.version }}</td>
								<td>Gebruikersovereenkomst</td>
								<td>{{ agreement.signed_on }}</td>
							</tr>
						{% endif %}
					{% empty %}
					<tr>
						<td>Geen</td>
					</tr>
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}