{% extends 'terms/base.html' %}

{% block content %}
    <h2>Gebruikersovereenkomst Pleio</h2>

    <em>Partijen</em>
    <p> 1. Stichting Pleio, gevestigd en kantoorhoudende te postbus 4919, 5604 CC te Eindhoven hierbij rechtsgeldig vertegenwoordigd door dhr. A.H. Cohlst, hierna te noemen 'Leverancier';
        en<br>2. De __________, gevestigd en kantoorhoudende te __________, hierbij rechtsgeldig vertegenwoordigd
        door de heer __________, met de functie van __________, hierna te noemen 'Gebruiker'.</p>

    <em>Overwegende dat:</em>
    <p> — Gebruiker wenst een platform te verkrijgen waarmee personen binnen en buiten de organisatie
        met elkaar kunnen communiceren en elkaar kunnen informeren.<br>
        —de bedrijfsactiviteiten van Pleio bestaan uit het leveren van het platform Pleio, een generieke
        voorziening aanvullend met losse applicaties gebaseerd op open source, voor online communicatie en
        interactie, binnen en mét de overheid.<br>
        — de dienstverlening van Pleio bestaat uit beheer en gebruikersondersteuning, facilitering in de
        hosting, zorgdragen voor ontwikkeling & maatwerk, verzorgen van trainingen.<br>
        — Pleio ingezet kan worden als samenwerkingsruimte, een community, een voorziening voor een
        (sociaal) intranet en/of als een eenvoudige (communicatie)website.<br>
        — Pleio een generieke voorziening vormt, maar dat in overleg maatwerk ontwikkeld kan worden met
        voorafgaande afstemming met Pleio.<br>
        — Partijen tot overeenstemming zijn gekomen over de voorwaarden van de deze Dienstverlening, welke
        overeenstemming is vastgelegd in deze Overeenkomst.
    </p>

    <em>Komen overeen:</em>
    <p> <strong>Art. 1 Definities</strong><br><br>
        1.1 De in deze Overeenkomst met een beginhoofdletter – inclusief de overwegingen – aangeduide
        begrippen, hebben de betekenis die daaraan in dit artikel 1 wordt toegekend:
        <ol ol type="A">
        <li>Behe(e)r(en): het nemen van maatregelen gericht op de instandhouding, beveiliging,
        toegankelijkheid en beschikbaarstelling van het Platform en het voorkomen van Incidenten.</li>
        <li>Content: alle van Gebruiker afkomstige informatie dan wel door derden ten behoeve van
            Gebruiker aangeleverde informatie, waaronder de Deelsite, die door Leverancier in het kader
        van de Dienstverlening wordt opgeslagen.</li>
        <li>Deelsite: het eigen domein van Gebruiker op het Platform, waarop Gebruiker Platform
        kan gebruiken als samenwerkingsruimte, community, voorziening voor een intranet of eenvoudige
        website;</li>
        <li>Dienstverlening: het geheel van hostingwerkzaamheden van Leverancier ten behoeve van de uitvoering van deze Overeenkomst zoals nader gespecificeerd in artikel 2.</li>
        <li>Hosting: de activiteiten van Leverancier zoals beschreven in artikel 2.1 om het Platform via het
        internet toegankelijk te maken, waaronder ook valt het beschikbaar stellen en in stand houden van
        telecommunicatieverbindingen.</li>
        <li>Incidenten: een storing die ertoe leidt dat het Platform niet beschikbaar is.</li>
        <li>Kantoortijden: maandag tot en met vrijdag tussen 09.00 uur en 17.00 uur, met uitzondering van
        nationale feestdagen.</li>
        <li>Ondersteuning: het verlenen van (telefonische) assistentie door helpdeskmedewerkers bij
        Incidenten, alsmede het bieden van ondersteuning.</li>
        <li>Overeenkomst: deze Overeenkomst inclusief de overwegingen.</li>
        <li>Platform: het te hosten platform Pleio.</li>
        <li>Programmatuur: de computerprogrammatuur waaruit het Platform is opgebouwd.</li>
        <li>Schriftelijk: de term ‘Schriftelijk’ omvat ook per e-mail.</li>
        <li>Startdatum: [invullen datum].</li>
        </ol>
    </p>
    <p>
        <strong>Art. 2 Voorwerp van de Overeenkomst</strong><br><br>
        2.1 Leverancier geeft aan Deelsitehouder toegang tot het Platform, waarmee Leverancier in
        overeenstemming met de bepalingen van deze Overeenkomst vanaf de Startdatum de volgende
        Dienstverlening uitvoert:<br>
        <ol ol type="a">
        <li> Het beschikbaar stellen en houden van het Platform, waarop Gebruiker Content kan
        plaatsen;</li>
        <li>Het ter beschikking stellen en houden van telecommunicatieverbindingen naar het internet;</li>
        <li>Het Beheren van het Platform;</li>
        <li>Het (door)ontwikkelen van het Platform;</li>
        <li>Het verzorgen van regelmatige back-ups van het Platform en de informatie die zich op het
        Platform bevindt;</li>
        <li>Het verzorgen van voldoende maatregelen voor beveiliging van het Platform tegen
        virussen, trojan horses etc. alsook tegen andersoortig gebruik van onbevoegden.</li>
        <li>Het zorgdragen van recovery van het Platform indien de beschikbaarheid van het Platform
        blijvend of tijdelijk onmogelijk is;</li>
        <li>Het leveren van gebruiksondersteuning.</li>
        </ol>
        2.2 Vanaf de Startdatum zal Leverancier via een telecommunicatieverbinding het Platform voor
        Gebruiker beschikbaar stellen en houden op het internet.<br>
        2.3 Onderhoud van de Deelsite vormt geen onderdeel van deze Overeenkomst.<br>
        2.4 Het moment van het verrichten van onderhoud wordt in onderling overleg bepaald. Uitgangspunt daarbij is dat onderhoud op zodanige wijze plaatsvindt dat dit minst verstorend is voor de bedrijfsprocessen van Gebruiker. Onderhoud dat verstorend is of kan werken voor de bedrijfsprocessen van Gebruiker wordt bovendien tijdig vooraf aangekondigd.<br>
        2.5 Onverminderd het eventueel overeengekomen Onderhoud zal Leverancier Gebruiker periodiek en tijdig schriftelijk informeren over de planning en beoogde functionaliteiten voor upgrades.<br>
        2.6 Voor zover Leverancier een (fysiek of virtueel) orgaan of platform faciliteert ten behoeve van (een deel van) zijn klanten voor het delen van kennis en ervaring over de prestatie en/of het bespreken van de (te verwachten) ontwikkelingen van de prestatie, zal Leverancier Gebruiker daar kosteloos en zonder beperkingen toegang toe verlenen.
    </p>
    <p>
        <strong>Art. 3 Back-updiensten</strong><br><br>
        3.1 Leverancier maakt dagelijks, wekelijks, tweewekelijks en maandelijks back-ups van het Platform en
        data op het Platform.<br>
        3.2 Leverancier bewaart elke back-up gedurende een termijn van zes maanden.<br>
        3.3 De in artikelen 3.1 en 3.2 bedoelde back-ups worden versleuteld in bewaring gegeven in een apart
        datacentrum.<br>
        3.4 Indien zich omstandigheden hebben voorgedaan in de Dienstverlening, waarbij mogelijk
        verwerkingen teniet zijn gegaan of onbruikbaar zijn geworden, zal Leverancier zorgdragen voor het
        herstel.<br>
        3.5 Onverminderd zijn verdere rechten heeft Gebruiker te allen tijde toegang tot de Content en recht
        op afgifte van de Content aan hem dan wel een door hem aan te wijzen derde.
    </p>

    <p>
        <strong>Art. 4 Oplossen van Incidenten en helpdesk</strong><br><br>
        4.1 Leverancier zorgt voor een helpdesk die fungeert als aanspreekpunt voor Incidenten en andere
        vragen. Incidenten kunnen telefonisch, per e-mail of via de Pleio-community bij de helpdesk van
        Leverancier worden gemeld. Daarnaast zal Leverancier zorgdragen voor een adequate monitoring van
        haar Dienstverlening en op eigen initiatief Incidenten voorkomen en oplossen.<br>
        4.2 De werkzaamheden in het kader van oplossen van Incidenten zullen zo spoedig mogelijk aanvangen. Incidenten waarbij het platform niet bereikbaar is worden binnen 72 uur na melding opgelost.
        <br>
        4.3 De kosten die verbonden zijn aan het oplossen van Incidenten komen voor rekening van Leverancier.
    </p>
    <p>
        <strong>Art. 5 Garanties</strong><br><br>
        5.1 Leverancier levert een inspanningsverplichting ten aanzien van de beschikbaarheid van het Platform.<br>
        5.2 Leverancier garandeert dat hij een adequaat controlesysteem heeft geïmplementeerd teneinde aan zijn
        verplichtingen uit deze Overeenkomst ten aanzien van kwaliteitsbewaking te kunnen voldoen.<br>
        5.3 Beide partijen verplichten zich ertoe zich in te spannen dat de door de Leverancier ter beschikking
        gestelde Platform virusvrij blijven.
    </p>
    <p>
        <strong>Art. 6 Verplichtingen Gebruiker</strong><br><br>
        6.1 Gebruiker zal zich zorgvuldig en niet onrechtmatig jegens derden gedragen. Gebruiker zal
        de rechten (waaronder intellectuele eigendomsrechten en privacy rechten) van derden respecteren,
        niet in strijd met de wet gegevens verspreiden, geen virussen of andere schadelijke programma's
        verspreiden en zich onthouden van strafbare feiten en schending van wettelijke verplichtingen.<br>
        6.2 Gebruiker is verantwoordelijk voor het beheer en het onderhoud op de Deelsite en de informatie
        op de Deelsite. Gebruiker zal op eerste verzoek van Leverancier terstond informatie (laten)
        verwijderen met betrekking tot de Deelsite en data op de Deelsite in geval van schending of
        dreigende schending van het hiervoor in artikel 7.1 bepaalde.<br>
        6.3 Gebruiker gaat akkoord met de algemene voorwaarden zoals Leverancier deze hanteert op
        <a href="https://www.pleio.nl/terms">https://www.pleio.nl/terms</a>
    </p>
    <p>
        <strong>Art. 7 Notice and Take Down</strong><br><br>
        7.1 Onverminderd het hiervoor in artikel 6.2 bepaalde is Leverancier gerechtigd om informatie die is
        geplaatst op het Platform te verwijderen of de toegang daartoe te blokkeren in geval van een
        schending of dreigende schending van het hiervoor in artikel 6.1 bepaalde. Leverancier is eveneens
        gerechtigd in dat geval aan Gebruiker de toegang tot het Platform te ontzeggen.<br>
        7.2 Het hiervoor in artikel 7.1 bepaalde laat alle overige rechten van Leverancier onverlet, Het hiervoor in artikel 7.1 bepaalde laat alle overige rechten van Leverancier onverlet, waaronder
        maar niet beperkt tot enig recht om de Dienstverlening geheel of gedeeltelijk op te schorten.<br>
        7.3 Indien sprake is van een situatie als bedoeld in artikel 7.1 of 7.2 als gevolg van een verzoek hiertoe
        van derden, zal Gebruiker rechtstreeks met deze derde contact opnemen en Leverancier over de
        voortgang hiervan informeren. Leverancier is niet aansprakelijk voor de gevolgen van het inroepen
        van de artikelen 7.1 en 7.2.
    </p>
    <p>
        <strong>Art. 8 Intellectuele eigendomsrechten</strong><br><br>
        8.1 Alle intellectuele eigendomsrechten met betrekking tot de Content komen aan Gebruiker (of zijn
        licentiegevers) toe.<br>
        8.2  Leverancier garandeert dat de door hem aan Gebruiker verstrekte prestaties geen inbreuk maken op enige intellectuele eigendomsrechten of andere rechten, waaronder persoonlijkheidsrechten, van derden. Leverancier vrijwaart Gebruiker en stelt Gebruiker schadeloos voor alle aanspraken van derden gebaseerd op de stelling dat door Leverancier aan Gebruiker ter beschikking gestelde prestaties, inbreuk maken op bedoelde rechten van die derden. Indien Gebruiker door een derde het recht tot gebruik van de prestaties of delen daarvan wordt ontzegd, zal Leverancier voor zijn rekening en te harer keuze onverwijld hetzij:
        <ol ol type="a">
        <li> zorgen dat Gebruiker alsnog het recht verkrijgt het gebruik voort te zetten;</li>
        <li> het inbreuk makende onderdeel vervangen door een ander onderdeel met gelijkwaardige gebruiksmogelijkheden, dat geen inbreuk maakt op dergelijke rechten van derden;</li>
        <li> het inbreuk makende onderdeel zodanig wijzigen dat de inbreuk wordt opgeheven.</li>
        </ol>
        8.3   Bij vervanging of wijziging als onder a en b bedoeld, zal de functionaliteit van de vervangende onderdelen minimaal gelijkwaardig zijn aan de vervangen onderdelen..<br>
        8.4   In het geval derden Gebruiker ter zake van een beweerdelijke schending van intellectuele eigendomsrechten aansprakelijk stellen, is Gebruiker – onverminderd het voorgaande – gerechtigd om de Overeenkomst schriftelijk, buiten rechte geheel of gedeeltelijk te ontbinden. Een dergelijke ontbinding laat de overige rechten van Gebruiker onverlet.        8.1 Alle intellectuele eigendomsrechten met betrekking tot de Content komen aan Gebruiker (of zijn
        licentiegevers) toe.
    </p>
    <p>
        <strong>Art. 9 Aansprakelijkheid</strong><br><br>
        9.1 De partij die toerekenbaar tekortschiet jegens de andere partij en/of onrechtmatig handelt jegens de
        ander partij, is aansprakelijk voor vergoeding van de door die partij geleden en/of te lijden schade.<br>
        9.2 De aansprakelijkheid van Leverancier jegens Gebruiker en derden voor schade, voortvloeiende uit of verband houdende met de uitvoering van deze overeenkomst, is beperkt tot het bedrag waarop de aansprakelijkheidsverzekering in het desbetreffende geval aanspraak geeft, vermeerderd met het bedrag van het eigen risico volgens de desbetreffende polis, doch nooit minder dan drie maal de door Gebruiker betaalde contributiebijdrage in het betreffende kalenderjaar. Indien in een dergelijke situatie op grond van de aansprakelijkheidsverzekering geen recht bestaat op uitkering, is de aansprakelijkheid van Leverancier beperkt tot een bedrag maximaal gelijk aan drie maal de door Gebruiker betaalde contributiebijdrage in het betreffende kalenderjaar.<br>
        9.3 Leverancier heeft zich op een naar verkeersnormen passende en gebruikelijke wijze verzekerd en houdt zich zodanig verzekerd tegen alle aansprakelijkheid voortvloeiende uit de Overeenkomst en de onderhavige Inkoopvoorwaarden, waaronder in ieder geval begrepen beroeps- en bedrijfsaansprakelijkheid, althans biedt anderszins aantoonbaar voldoende waarborgen ter dekking van eventuele aansprakelijkheid.<br>
        9.4 De in het vorige lid bedoelde verzekering/waarborg biedt dekking voor ten minste het in artikel 9.2 bedoelde bedrag per jaar.
    </p>
    <p>
        <strong>Art. 10 Vrijwaring</strong><br><br>
        10.1 Gebruiker vrijwaart Leverancier tegen vorderingen van derden in verband met een rechtsgrond
        die strijdigheid met het bepaalde in artikel 6.1 oplevert. Gebruiker zal Leverancier indien de
        vordering geheel of gedeeltelijk wordt toegewezen of in het kader van een minnelijke regeling
        wordt erkend, schadeloos stellen voor alle schade en kosten die door Leverancier worden gemaakt.
        Deze vrijwaring laat onverlet enig ander recht van Leverancier.
    </p>
    <p>
        <strong>Art. 11 Duur en beëindiging</strong><br><br>
        11.1 Deze Overeenkomst vangt aan op Startdatum. Na deze eerste termijn zal de Overeenkomst,
        behoudens beëindiging conform de daarvoor geldende regels, steeds stilzwijgend worden verlengd
        met een jaar.<br>
        11.2 Partijen zijn gerechtigd de Overeenkomst op elk moment te beëindigen, maar met inachtneming van
        een opzegtermijn van [één kalendermaand].<br>
        11.3 Onverminderd het bepaalde in artikel 7.2 over opschorting heeft Leverancier het recht om deze
        Overeenkomst met onmiddellijke ingang (geheel of gedeeltelijk) buiten rechte te ontbinden door
        middel van een Schriftelijke kennisgeving, zonder dat hierdoor enige aansprakelijkheid jegens
        Gebruiker ontstaat indien een schending van het in artikel 6.1 bepaalde zich voordoet.
    </p>
    <p>
        <strong>Art. 12 Ontbinding</strong><br><br>
        12.1 In alle andere dan de in artikel 11 genoemde gevallen, komt een partij slechts een bevoegdheid tot
        ontbinding van de Overeenkomst toe indien de andere partij, na een deugdelijke en zo gedetailleerd
        mogelijke Schriftelijke ingebrekestelling waarbij een redelijke termijn gesteld wordt voor zuivering
        van de tekortkoming door de partij die, toerekenbaar tekortschiet in de nakoming van wezenlijke
        verplichtingen op grond van deze Overeenkomst.<br>
        12.2 In afwijking van lid 1 van dit artikel en onverminderd hetgeen overigens in de wet is bepaald, kan Gebruiker de Overeenkomst en alle daarmee samenhangende overeenkomsten middels een aangetekend schrijven ontbinden binnen twaalf (12) maanden nadat Opdrachtgever constateert dat:
        <ol ol type="a">
        <li> Leverancier (voorlopige) surseance van betaling aanvraagt; of</li>
        <li> Leverancier zijn faillissement aanvraagt of in staat van faillissement wordt verklaard; of</li>
        <li> de onderneming van Leverancier wordt ontbonden; of</li>
        <li> Leverancier zijn onderneming staakt;</li>
        <li> sprake is van een ingrijpende wijziging in de zeggenschap over de activiteiten van de onderneming van Leverancier; of</li>
        <li>  op een aanmerkelijk deel van het vermogen van Leverancier beslag wordt gelegd (anders dan door Opdrachtgever); of</li>
        <li> het Bureau BIBOB een negatief advies heeft uitgebracht over de organisatie van Leverancier.</li>
        </ol>
        12.3 Gebruiker kan de Overeenkomst en alle daarmee samenhangende overeenkomsten ook ontbinden indien hij op goede gronden aanneemt dat de rechter op een daartoe strekkende vordering op grond van de Aanbestedingswet de Overeenkomst zal vernietigen.
    </p>
    <p>
        <strong>Art. 13 Exit procedure</strong><br><br>
        13.1 Partijen komen overeen, dat in het geval van het einde of de beëindiging van deze Overeenkomst,
        Leverancier desgevraagd een complete back-up, bestaande uit een SQL data dump bevattende de
        Content en kopie van het Platform, aan Gebruiker zal leveren.<br>
        13.2 Het in 13.1 genoemde zal uiterlijk binnen 21 werkdagen geleverd worden.
    </p>
    <p>
        <strong>Art. 14 Vergoeding</strong><br><br>
        14.1 De contributiebijdrage voor de door Leverancier te leveren diensten bedraagt €2250,- exclusief
        BTW. per kalenderjaar. <br>
        14.2 Het leveren van maatwerk door Leverancier bedraagt €90,- per uur exclusief BTW.<br>
        14.3 Het leveren van het in 13.1 genoemde geschiedt tegen een betaling van €450,- exclusief
        BTW.<br>
        14.4 Leverancier is gerechtigd de overeengekomen prijzen en tarieven door middel van een Schriftelijke kennisgeving aan Gebruiker aan te passen, evenwel maximaal eenmaal per periode van 12
        maanden dat de Overeenkomst voortduurt.<br>
        14.5 De leverancier kan de genoemde bedragen jaarlijks aanpassen conform de CBS Dienstenprijsindex.
    </p>
    <p>
        <strong>Art. 15 Facturering en betaling</strong><br><br>
        15.1 De contributiebijdrage is verschuldigd aan het begin van elk nieuw kalenderjaar. Ten aanzien van de
        Gebruiker die gaandeweg het kalenderjaar de Overeenkomst aangaat zal de contributiebijdrage
        naar evenredigheid in rekening worden gebracht.<br>
        15.2 Leverancier zal de door Gebruiker op basis van deze Overeenkomst te betalen bedragen
        deugdelijk gespecificeerd aan Gebruiker in rekening brengen.<br>
        15.3 Gebruiker zal facturen binnen 30 dagen na ontvangst van de factuur aan Leverancier voldoen.<br>
        15.4 Indien Gebruiker de verschuldigde bedragen niet binnen de overeengekomen termijn betaalt, zal Leverancier Gebruiker eerst schriftelijk in gebreke stellen, alvorens wettelijke handelsrente over het openstaande bedrag verschuldigd zal zijn. Indien Gebruiker na ingebrekestelling nalatig blijft de vordering te voldoen en hij de factuur niet gefundeerd betwist, kan de vordering door Leverancier uit handen worden gegeven, in welk geval naast het alsdan verschuldigde totale bedrag Gebruiker tevens gehouden zal zijn tot vergoeding van buitengerechtelijke en gerechtelijke kosten.
    </p>
    <p>
        <strong>Art. 16 Geheimhouding</strong><br><br>
        16.1 Partijen maken hetgeen hen bij de uitvoering van de Overeenkomst ter kennis komt, en waarvan zij het vertrouwelijke karakter
        kennen of redelijkerwijs kunnen vermoeden, tot minimaal twee jaar na afloop van de Overeenkomst, op geen enkele wijze verder bekend
        behalve voor zover enig wettelijk voorschrift (daar mede een verzoek op grond van de Wet Openbaarheid van Bestuur onder begrepen),
        onderzoek door een bevoegde toezichthouder of uitspraak van de rechter of een door partijen aangewezen geschillen beslechter hen tot
        bekendmaking daarvan verplicht of uit de uitvoering van de taak van Opdrachtgever de noodzaak tot openbaarmaking voortvloeit. De inhoud
        van de Overeenkomst als zodanig mag/mogen met andere gemeenten, aan gemeenten gelieerde rechtspersonen en gemeentelijke samenwerkingsverbanden worden gedeeld.<br>
        16.2 Vervallen<br>
        16.3 Partijen zullen hun personeel en eventueel door hen ingeschakelde derden verplichten deze
        geheimhoudingsbepalingen na te leven.<br>
        16.4. Partijen geven alle gegevens die zij van elkaar hebben ontvangen en die vertrouwelijk van aard zijn op eerste verzoek terug, tenzij dit in strijd is met een wettelijke verplichting van Gebruiker.<br>
        16.5. De partij die in dit artikel opgenomen geheimhoudingsverplichting schendt, is aan de andere partij een onmiddellijk opeisbare boete verschuldigd onverminderd het recht de daadwerkelijk geleden schade te verhalen. De hiervoor bedoelde boete bedraagt evenwel nooit meer dan € 50.000,- per overtreding.<br>
        16.6. Leverancier maakt in publicaties (waaronder begrepen persberichten) of reclame-uitingen impliciet noch expliciet melding van de Overeenkomst en gebruikt de naam/logo van Gebruiker niet als referentie, dan na toestemming van Gebruiker.

    </p>
    <p>
        <strong>Art. 17 Derden</strong><br><br>
        17.1 Het is partijen niet toegestaan de rechten uit deze Overeenkomst aan een derde over te dragen,
        zonder voorafgaande Schriftelijke toestemming van de andere partij.
    </p>
    <p>
        <strong>Art. 18 Bescherming persoonsgegevens</strong><br><br>
        18.1 De AVG Verordening (EU) 2016/679 van het Europees Parlement en de Raad van 27 april 2016 betreffende de bescherming van natuurlijke personen in verband met de verwerking van persoonsgegevens en betreffende het vrije verkeer van die gegevens en tot intrekking van Richtlijn 95/46/EG (Algemene Verordening Gegevensbescherming) zijn van toepassing.<br>
        18.2 Dit artikel 18 is van toepassing indien Leverancier bij de uitvoering van de Overeenkomst Persoonsgegevens Verwerkt voor Gebruiker. In dat geval wordt Gebruiker als Verwerkingsverantwoordelijke aangemerkt en Leverancier als Verwerker. In die hoedanigheid zullen Partijen zich houden aan alle op hen rustende wettelijke verplichtingen en geldt de Overeenkomst tevens als verwerkersovereenkomst, zoals bedoeld in artikel 28 lid 3 AVG.<br>
        18.3 Indien een afzonderlijke Vewerkersovereenkomst onderdeel vormt van de Overeenkomst en afwijkt van dit artikel 18, prevaleren de bepalingen uit die afzonderlijke Vewerkersovereenkomst boven de bepalingen uit dit artikel 18.<br>
        18.4 De verplichtingen van Verwerker die uit dit artikel 18 voortvloeien, gelden ook voor degenen die Persoonsgegevens Verwerken onder het gezag van Verwerker of in dienst zijn van Verwerker of anderszins namens Verwerker Persoonsgegevens Verwerken.<br>
        18.5 Zonder voorafgaande Schriftelijke toestemming van Verwerkingsverantwoordelijke, is het Verwerker niet toegestaan om Subverwerker(s) in te schakelen voor de Verwerking van Persoonsgegevens. Indien Verwerkingsverantwoordelijke Schriftelijke toestemming verleent om Subverwerker(s) in te schakelen, staat Verwerker ervoor in dat Subverwerker(s) het bepaalde in dit artikel 18 nakom(t)(en) en blijft Verwerker onverminderd verantwoordelijk en aansprakelijk voor het bepaalde in dit artikel 18.<br>
        18.6 Verwerker zal de Persoonsgegevens enkel Verwerken in het belang van Verwerkingsverantwoordelijke en in overeenstemming met specifieke instructies voor de Verwerking. Verwerker zal Persoonsgegevens in geen geval Verwerken voor andere doeleinden.<br>
        18.7 Verwerker zal de Persoonsgegevens strikt vertrouwelijk behandelen. Verwerker is niet gerechtigd om Persoonsgegevens op enige wijze openbaar te maken, te verstrekken of ter beschikking stellen aan derden zonder voorafgaande Schriftelijke toestemming van Verwerkingsverantwoordelijke.<br>
        18.8 Verwerker zal alle redelijke inspanningen leveren om ervoor te zorgen dat Persoonsgegevens te allen tijde volledig en correct zijn.<br>
        18.9 Verwerker zal alle passende technische en organisatorische maatregelen nemen om de Persoonsgegevens te beveiligen tegen vernietiging, verlies, onrechtmatige openbaarmaking of enige andere vorm van onrechtmatige Verwerking. Verwerker zal de maatregelen er mede op richten om onnodige verzameling en verdere Verwerking van Persoonsgegevens te voorkomen. Verwerker zal de verplichting tot het nemen van passende technische en organisatorische maatregelen en de verplichting tot geheimhouding ook opleggen aan zijn medewerkers en anderen die rechtmatig toestemming hebben om toegang te verkrijgen tot de Persoonsgegevens.<br>
        18.10 Zonder voorafgaande Schriftelijke toestemming van Verwerkingsverantwoordelijke zal Verwerker geen Persoonsgegevens Verwerken, verstrekken, toegankelijk maken of doorgeven aan een land buiten de Europese Economische Ruimte indien dat land volgens de AVG geen passend beschermingsniveau ten aanzien van Persoonsgegevens biedt.<br>
        18.11 Verwerker zal Persoonsgegevens niet langer bewaren dan nodig voor de uitvoering van zijn verplichtingen uit hoofde van dit artikel 18.<br>
        18.12 Bepalingen in algemene of bijzondere voorwaarden van Verwerker met betrekking tot de bescherming van Persoonsgegevens die afwijken van het gestelde in dit artikel 18 zijn niet van toepassing.<br>
        18.13 Verwerker verleent Verwerkingsverantwoordelijke zijn volledige medewerking om Betrokkenen (i) inzage in de Persoonsgegevens te laten krijgen, (ii) de Persoonsgegevens te laten verwijderen of te corrigeren; en/of (iii) aan te tonen dat de Persoonsgegevens verwijderd of gecorrigeerd zijn indien zij incorrect zijn of, indien Verwerkingsverantwoordelijke het standpunt van Betrokkene bestrijdt, vast te leggen dat Betrokkene zijn persoonsgegevens als incorrect beschouwt. Ook stelt Verwerker Verwerkingsverantwoordelijke continu in staat na te gaan of eventuele derden, waarvan Verwerker bij de uitvoering van de Overeenkomst gebruik maakt, aan zijn in dit verband relevante verplichtingen voldoen.<br>
        18.14 In het geval van een inbreuk op de beveiliging (van welke aard dan ook) die (mede) betrekking heeft of kan hebben op de Verwerking van Persoonsgegevens, zal Verwerker Verwerkingsverantwoordelijke onverwijld en in ieder geval uiterlijk binnen 24 uur nadat Verwerker ervan kennis heeft gekregen, in kennis stellen.<br>
        18.15 Verwerker staat toe dat Verwerkingsverantwoordelijke de naleving van de beveiligingsmaatregelen door Verwerker inspecteert of dat op verzoek van Verwerkingsverantwoordelijke de gegevensverwerkingsfaciliteiten van Verwerker door een door Verwerkingsverantwoordelijke aan te wijzen onderzoeksinstantie worden geïnspecteerd in verband met de verwerkingsactiviteiten ('de Inspectie'). De Inspectie wordt uitgevoerd door een onderzoeksinstantie, die naar het redelijk oordeel van Verwerkingsverantwoordelijke neutraal en deskundig is. Verwerkingsverantwoordelijke draagt zorg dat de onderzoeksinstantie verplicht is tot geheimhouding van haar bevindingen tegenover derden.<br>
        18.16 Onverminderd andersluidende schriftelijke opdracht van Verwerkingsverantwoordelijke zal Verwerker in geval van beëindiging van de Overeenkomst onverwijld alle aan haar ter beschikking gestelde Persoonsgegevens aan Verwerkingsverantwoordelijke retourneren en alle digitale kopieën van Persoonsgegevens vernietigen en aan Verwerkingsverantwoordelijke verklaren dat zij dit heeft uitgevoerd.

    </p>
    <p>
        <strong>Art. 19 Overige bepalingen</strong><br><br>
        19.1 Een partij ziet erop toe dat zijn personeel en andere derden die onder zijn gezag handelen de verplichtingen uit deze Overeenkomst nakomen.<br>
        19.2 Indien één of meer van deze bepalingen in deze Overeenkomst ongeldig, in strijd met de wet of onafdwingbaar zijn, laat zulks de geldigheid van de overige bepalingen onverlet. Partijen zullen in goed overleg onderhandelen over een nieuwe bepaling, ter vervanging van de ongeldige of niet afdwingbare bepaling, die zoveel mogelijk de strekking van de ongeldige of onafdwingbare bepaling volgt.<br>
        19.3 Kennisgevingen die partijen op grond van deze Overeenkomst aan elkaar zullen doen, vinden Schriftelijk plaats.<br>
        19.4 Eventuele mondelinge toezeggingen en afspraken hebben geen werking, tenzij deze Schriftelijk door een partij zijn bevestigd.<br>
        19.5 Het door een partij niet uitoefenen van enig recht of het niet aanwenden van enig rechtsmiddel houdt geen afstand van dat recht of rechtsmiddel in.<br>
        19.6 Bepalingen die naar hun aard bestemd zijn om ook na beëindiging of ontbinding voort te duren, blijven bestaan.
    </p>

{% endblock %}
