.navbar-dark {
  background-color: #000;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand span {
  vertical-align: middle;
  padding: .5rem 1rem;
}
.navbar-brand svg {
  vertical-align: middle;
  height: 40px;
  width: auto;
}

.errorlist {
  color: #dc3545;
}

iframe.terms {
  border: 1px solid rgba(0,0,0,.1);
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}
.user-menu {
  display: flex;
  align-items: center;
}

.user-menu::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  color: #fff;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.user-menu__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.user-menu__name {
  display: flex;
  padding: 0 0 0 0.8rem;
  color: #fff;
}

.___margin-bottom {
  margin: 0 0 1rem 0;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
